<div class="container h-screen max-w-screen-lg mx-auto">

  <%= live_component(
    @socket,
    Bonfire.Geolocate.MapLive,
    id: :VFMap,

    places: @places,
    fetch_place_things_fn: @fetch_place_things_fn
  )  %>

</div>
