<main id="reflow-app" role="main">
  <% info = get_flash(@conn, :info) %>
  <% error = get_flash(@conn, :error) %>
  <%= if info || error do %>
    <div id="flash-messages" class="bg-base">
      <%= if info do %>
        <p class="alert alert-info bg-base " role="alert"><%= info %></p>
      <% end %>
      <%= if error do %>
        <p class="alert alert-error bg-base " role="alert"><%= error %></p>
      <% end %>
    </div>
  <% end %>
  <%= @inner_content %>
</main>
