<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag to_string(assigns[:page_title]) || "Home", suffix: " · reflow / Bonfire" %>
    <%= raw Config.get!(:endpoint_module).include_assets(@conn)%>
  </head>
  <body id="reflow-root" class="overflow">
    <%= if Code.ensure_loaded?(Thesis.View), do: Thesis.View.thesis_editor(@conn) %>
    <%= @inner_content %>
  </body>
</html>
